{% extends "base.html" %}
{% block title %}Расходы{% endblock %}
{% block content %}
<h2>Расходы</h2>
<a href="{% url 'expense_create' %}" class="btn btn-danger mb-3">➖ Добавить расход</a>
<table class="table table-striped">
  <tr>
    <th>Название</th>
    <th>Сумма</th>
    <th>Категория</th>
    <th>Дата</th>
    <th></th>
  </tr>
  {% for e in expenses %}
  <tr>
    <td>{{ e.title }}</td>
    <td>{{ e.amount }} ₽</td>
    <td>{{ e.get_category_display }}</td>
    <td>{{ e.date|date:"d.m.Y H:i" }}</td>
    <td>
      <a href="{% url 'expense_update' e.id %}" class="btn btn-sm btn-primary">✏️</a>
      <a href="{% url 'expense_delete' e.id %}" class="btn btn-sm btn-danger">❌</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}